<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item {{'active' if selected=='dashboard'}}">
        <a class="nav-link" href="/">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

  <li class="nav-item {{'active' if selected=='dataset'}}">
        <a class="nav-link" href="dataset">
          <i class="mdi mdi-account menu-icon"></i>
          <span class="menu-title">Dataset</span>
        </a>
      </li>
      
      <li class="nav-item {{'active' if selected=='preprocessing'}}">
        <a class="nav-link" href="preprocessing">
          <i class="mdi mdi-cached menu-icon"></i>
          <span class="menu-title">Preprocessing</span>
        </a>
      </li>

      <li class="nav-item {{'active' if selected=='pengujian'}}">
        <a class="nav-link" href="pengujian">
          <i class="mdi mdi-code-tags menu-icon"></i>
          <span class="menu-title">Pengujian</span>
        </a>
      </li>

    </ul>
  </nav>